__pycache__
.env
*.log
*.pot
*.pyc
image
db.sqlite3image
Procfile
requirements.txt
runtime.txt
database/migrations
database/__pycache__
achievement/migrations
user/migrations
user/__pycache__
authenticate/migrations
authenticate/__pycache__
